[tool.poetry]
name = "Instalker"
version = "0.1.0"
description = "Download profiles on Instagram"
authors = ["Felippe Andrade <4drade@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.12"
instaloader = "*"
tqdm = "*"
pillow = "*"

[tool.poetry.group.dev.dependencies]
ruff-lsp = "*"
ruff = "*"
mypy = "*"
types-tqdm = "*"
types-pillow = "*"

[tool.mypy]
python_version = "3.12"
strict = true
untyped_calls_exclude = ["instaloader"]

[tool.ruff]
target-version = "py312"
line-length = 88

[tool.ruff.lint]
select = ["ALL"]
ignore = [
    "D100",
    "D101",
    "D102",
    "D103",
    "D104",
    "D105",
    "D106",
    "D107",
    "D200",
    "D205",
    "D212",
    "D400",
    "D401",
    "D415",
    "E402",   # false positives for local imports
    "E501",   # line too long
    "TRY003", # external messages in exceptions are too verbose
    "TD002",
    "TD003",
    "FIX002", # too verbose descriptions of todos
    "SLF001",
    "PTH111",
    "PTH207",
]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
